body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
.facebook {
    position: fixed;
    left: -0px;
    top: 200px;
    z-index: 9;
}
.google-plus {
    position: fixed;
    left: -0px;
    top: 250px;
    z-index: 9;
}
.just-icon {
    position: fixed;
    left: -0px;
    top: 300px;
    z-index: 9;
}
.glassdoor {
    position: fixed;
    left: -0px;
    top: 350px;
    z-index: 9;
}
.font-view{
    width: 100%;
    float: left;
    height: 100vh;
}
 .above-header{
    float: left;
    width: 100%;
    padding: 10px 0px;
    background: url("../images/topback.png") center fixed ;
    
  }
  .above-header-div >span{
    color: #fff;
    padding: 0px 10px 0px 0px;
    font-size: 14px;
  }
  .above-header-div a, .above-header-div a:hover {
    margin: 0px -1px;
    text-decoration: none;
    color: #fff;
    padding: 10px 10px;
    font-size: 15px;
    border-right: 1px solid #30aee8;
}
  .above-header-div a:last-child{
    border-right: none;
  }

  .top-contact{
   background: red;
   padding: 15px 5px;
   margin:-15px 0px;
   font-weight: 600;
   font-size: 18px;
 
  }
  
  .main-menu{
    width: 100%;
    float: left;
    
  }
  .banner{
      width: 100%;
      float: left;
      background: url("banner1.jpg") center fixed;
      background-size: cover;
      height: 90vh;
      padding-top: 15%;
  }
  .banner-heading {
    font-size: 35px;
    color: #fff;
    text-align: center;
    margin-top: 0px;
    font-weight: 700;
    margin-bottom: 13px;
}
.banner-para {
    font-size: 19px;
    color: #dad9d9;
    text-align: center;
    margin-top: 7px;
    font-weight: 200;
    letter-spacing: 0.12em;
}
  .section{
      float: left;
      width: 100%;
      padding: 50px 0px;
      background: #fff;
  }
  .main-heading{
      font-size: 30px;
      color: #1f9dd8;
      font-weight: 400;
      text-align: center;
  }
  .heading-space{
      margin-bottom: 40px;
  }
  .sub-heading{
      width: 80%;
      margin: 0px auto;
      font-size: 15px;
      line-height: 25px;
      text-align: center;
  }
  .read-more,
  .read-more:active{
    text-decoration: none;
    padding: 10px 30px;
    border: 1px solid #1f9dd8;
    color: #1f9dd8;
    text-align: center;
    font-size: 15px;
  }
  .read-more:hover{
      background: #1f9dd8;
      color: #fff;
      text-decoration: none;
  }
  .line-2{
      float: left;
      width: 100%;
  }
 

.our-role-left {
    overflow: hidden;
    padding: 0px;
    }
    
.our-role-left img{    -moz-transition: all .3s;
-webkit-transition: all .3s;
transition: all .3s;
vertical-align: middle;}
.our-role-left:hover img{-moz-transform:scale(1.1);-webkit-transform:scale(1.1);transform:scale(1.1);vertical-align:middle}

.our-role-right{
    background: #303030;
    height: 399px;
    padding: 10px 100px 20px 20px;
    text-align: justify;
    overflow: auto;
  }
  .white-heading{
      font-size: 32px;
      color: #fff;
      font-weight: 400;
  }
  .text-white{
      color: #fff;
      line-height: 25px;
      font-size: 15px;
  }
  .learn-more-blue{
      text-decoration: none;
      color: #fff;
      background: #1f9dd8;
      padding: 10px 25px;
  }
  .learn-more-blue:hover{
    text-decoration: none;
    color: #fff;
    background: transparent;
    border: 2px solid #1f9dd8;
  }
  .why-us-left{
    background: #1f9dd8;
    height: 400px;
    padding: 0px 10px 10px 100px;
    text-align: justify;
    overflow: auto;
  }
  .why-us-right{
    padding: 0px;
    overflow: hidden;
  }
     
.why-us-right img{    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s;
    vertical-align: middle;}
    .why-us-right:hover img{-moz-transform:scale(1.1);-webkit-transform:scale(1.1);transform:scale(1.1);vertical-align:middle}
    
  .learn-more-white{
    text-decoration: none;
    color: #1f9dd8;
    background: #fff;
    padding: 10px 25px;
  }
  .learn-more-white:hover{
    text-decoration: none;
    color: #fff;
    background: #1f9dd8;
    border: 2px solid #fff;
    
  }
  .solution.thumbnail{
    position: relative;
    padding: 10px 10px;
    margin-bottom: 50px;
    height: 420px;
  }
  .solution.thumbnail img{
      width: 100%;
  }
  .solution-body{
    padding: 20px 20px;
  }
  .solutin-heading{
      font-size: 17px;
      color: #1f9dd8;
      margin-top: 5px;
      margin-bottom: 10px;
     
  }
  .solutin-heading a,
  .solutin-heading a:hover{
    font-size: 17px !important;
    text-decoration: none !important;
    color: #1f9dd8 !important;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center !important;
  }
  .solution-para{
      line-height: 25px;
      font-size: 14px;
    letter-spacing: 0.015em;
  }
  .read-more-blue-circle{
    background: #1f9dd8;
    padding: 10px 30px ;
    text-decoration: none;
    color: #fff;
    border-radius: 20px;
    position: absolute;
    bottom: -20px;
    left: 100px;
    font-size: 16px;
  }
  .read-more-blue-circle:hover{
    background: #fff;
    text-decoration: none;
    color: #1f9dd8;
    border: 1px solid #1f9dd8;
  }
  .line-4{
      background: url("../images/background-images-1.jpg") center fixed;
      background-size: cover;
      padding: 50px 0px;
      width: 100%;
      float: left;
  }

  .how-we-work-body {
    padding: 6px 0px;
}
.how-we-work-body h4{
    color: #1f9dd8;
}
.line-5{
    width: 100%;
    float: left;
    padding: 50px 0px;
    background: #f4f6ff ;
  
}
.blog.thumbnail {
    border: none;
    background: transparent;
    border: 1px solid #ddd;
    height: 500px;
}
.blog-body{
    background: transparent !important;
    padding: 10px 5px;
}
.blog-body h4{
    font-size: 16px;
    line-height: 25px;
}
.blog-body a {
    text-decoration: underline;
    color: #045073;
    font-size: 16px;
}

.client-body{
    float: left;
    width: 100%;
    padding: 30px 0px;
    background: #fff;

}
.footer-line{
    width: 100%;
    float: left;
    padding: 50px 0px;
    color: #414040;
    background: #e6e6e2;
}
.footer-heading-space{
    margin-bottom: 10px;
}
.footer-line i,a{
    text-decoration: none;
    color: #414040;
    font-size: 12px;
    font-weight: 400;
}
.footer-line a:hover,
.footer-line a:active{
    color: #1f9dd8;
    text-decoration: none;
    text-decoration: none;
}
.footer-line p{
    text-decoration: none;
    color: #414040;
    font-size: 13px;
    font-weight: 400;
}
.copyright-line{
    background: #545454;
    float: left;
    width: 100%;
    padding: 20px 0px;
    text-align: center;
}
.copyright-line p{
    margin-bottom: 0px;
    color: #b7b5b5;
    font-size: 13px;
    font-family: 100;
}



.slider{
    width:100%;
    overflow:hidden;
    position:relative;
    margin:0;
}
.edge{
    left:0;
    right:0;
    top:0;
    bottom:0;
    position:absolute;
    height:100%;
    display:block;
}
.edge:before{
    content:'';
    position:absolute;
    left:0;
   
    width:25%;
    height:100%;
}
.edge:after{
    content:'';
    position:absolute;
    right:0;
   
    width:25%;
    height:100%;
}
.slider ul{
   
    overflow:hidden;
    width:1000%;
    margin:0;
}
.slider ul>li{
    list-style:none;
    display:inline-block;
    padding:0 30px;
}

/* ***************************************** */
/* about us page css */
/* *********************************************** */
.page-banner{
    width: 100%;
    float: left;
    height: 400px;
    padding-top: 132px;
}
.page-heading-div{
    background: #1f9dd8;
    width: 100%;
    float: left;
}
.page-heading{
    color: #fff;
    padding: 16px 0px;
    margin: 0px !important;
}
.page-heading a,
.page-heading a:hover{
    color: #fff;
    font-size: 17px;
    text-decoration: none;
}
.page-heading span{
        background: #1f9dd8;
        font-size: 17px;
}
.about-us-page{
    background: url(../images/about-us-page-banner.jpg) center fixed;
    background-size: cover;
}
.vision{
    background: #303030;
    padding: 20px 0px;
    height: 555px;

}
.mision{
    background: #1f9dd8;
    padding: 20px 0px;
    height: 555px;
}
.mission-vission-text{
    width: 85%;
    margin: 0 auto;
}

.contact-us-page{
    background: url("../images/contact1.jpg") center fixed;
    background-size: cover;
}
.contact-us-box{
    border: 1px solid #ddd;
    box-shadow: 2px 2px 2px #ddd;
    padding: 20px 10px;
    height: 220px;
}
.contact-us-headings{
    color: #303030;
    font-weight: 600;
    font-size: 18px;
}
.contact-us-icons{
    font-size: 30px;
    color: #1f9dd8;
    border: 1px solid #1f9dd8;
    padding: 14px 20px;
    border-radius: 50%;
}
.form-submit-button{
    font-size: 17px;
    padding: 10px 33px;
    border: 1px solid #1f9dd8;
    border-radius: 20px;
    text-decoration: none;
    color: #30aee8;
    /*margin-top: 26px;*/
}
.form-submit-button:hover{
    font-size: 17px;
    padding: 10px 33px;
    border: 1px solid #1f9dd8;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    background: #1f9dd8;
}
.form-control {
    display: block;
    width: 100%;
    height: 49px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}
.form-group {
    margin-bottom: 31px;
}
.blog-page{
    background: url("../images/blog-banner.jpg") center fixed;
    background-size:cover;
}
.blog-para{
    line-height: 25px;
    font-size: 13px;
    text-align: justify;
}
.solution-page-headimg{
    margin: 0px;
    font-size: 22px;
    font-weight: 400;

}
.resume-page{
    background: url("../images/resume-building-banner.jpg") center fixed;
    background-size: cover;
}
* {
    box-sizing: border-box;
}


.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.price .grey {
    background-color: #eee;
    font-size: 20px;
}


.recruitment-page{
    background: url("../images/recruritment-banner.jpg") center fixed;
    background-size: cover;
}
.career-page{
    background: url("../images/career-banner.jpg") center fixed;
    background-size: cover;
}
.university-hiring-page{
    background: url("../images/university-hiring-banner.jpg") center fixed;
    background-size: cover;
}
.industry-training-page{
    background: url("../images/industry-training-banner.jpg") center fixed;
    background-size: cover;
}

/* leadership */
.view {
    width: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.view-first:hover img {
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}
.view-first img {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
    border: solid 4px #ddd;
}
.view img {
    display: block;
    position: relative;
}
.view-first:hover .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.view-first .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    background-color: rgba(28,100,176, 0.7);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    height: 100%;
}
.view .mask, .view .content {
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.mask h3 {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    margin-top: 10% !important;
}
.view-first:hover p {
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.view-first:hover p, .view-first:hover a.info {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}
.view-first p {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -o-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    font-size: 15px !important;
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center;
}
.view-first:hover a.info {
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.view-first:hover h2, .view-first:hover p, .view-first:hover a.info {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}
.view-first a.info {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #fff;
    color: #1c64b0;
    font-weight: bold;
    margin-top: 0px;
}
.message-from-ceo-heading{
    font-size: 60px;
    line-height: 70px;
    margin-top: 25%;
}
.ceo-para{
    font-size: 13px;
    line-height: 25px;
    color: #363636;
}
.management{
    background: #303030;
    padding: 10px 10px;
    min-height: 550px;

}
.hotel{
    background: #1f9dd8;
    padding: 10px 10px;
    min-height: 550px;

}
.TECHNOLOGY{
    padding: 10px 10px;
    background: #ea4935;
    min-height: 550px;
    color: #fff;
}
.small-white-heading{
    color: #fff;

}
.indian-para{
    font-size: 13px;
    text-align: justify;
    line-height: 20px;
}
.indian-recruit{
    background: url("../images/solution-banner.png") center fixed;

}
.employment-form-div .form-control{
    height: 32px;
    margin-bottom: 20px;
}
.employment-form-div label{
    font-weight: 400;
}
.employment-form-div label:after {
    color: red;
    content: ' *';
    display:inline;
}
.employment-form-div .btn-primary{
    padding: 10px 25px;
    border-radius: 0px;
    background: #1f9dd8;
}
.upload{
    
}
.loading {
    display: none;
}
.accordion {
  
    width:  100%;
}
    .accordion li h3 a {
        background:             #666;
        background:             #666 -webkit-gradient(linear, left top, left bottom, from(#999), to(#666)) no-repeat;
        background:             #666 -moz-linear-gradient(top,  #999,  #666) no-repeat;
        border-bottom:          1px solid #333;
        border-top:             1px solid #ccc;
        color:                  #fff;
        display:                block;
        font-style:             normal;
        margin:                 0;
        font-size: 20px;
        padding:                5px 10px;
        text-shadow:            0 -1px 2px #333, #ccc 0 1px 2px;
    }
    .accordion li h3 a >span{
        font-size: 15px !important;
    }
        .accordion li.active h3 a {
            background:             #369;
            background:             #369 -webkit-gradient(linear, left top, left bottom, from(#69c), to(#369)) no-repeat;
            background:             #369 -moz-linear-gradient(top,  #69c,  #369) no-repeat;
            font-size: 20px;
            border-bottom:          1px solid #036;
            border-top:             1px solid #9cf;
            text-shadow:            0 -1px 2px #036, #9cf 0 1px 2px;
        }
        .accordion li.active h3 a>span{
            font-size: 15px !important;
        }
        .accordion li.locked h3 a {
            background:             #963;
            background:             #963 -webkit-gradient(linear, left top, left bottom, from(#c96), to(#963)) no-repeat;
            background:             #963 -moz-linear-gradient(top,  #c96,  #963) no-repeat;
            border-bottom:          1px solid #630;
            border-top:             1px solid #fc9;
            text-shadow:            0 -1px 2px #630, #fc9 0 1px 2px;
        }
    .accordion li h3 {
        margin:         0;
        padding:        0;
    }
    .accordion .panel {
        padding:  20px 10px;
    }
    .gallery img{
        width: 100%;
        margin-bottom: 20px;
    }
    .gallery-thumb {
        border-radius: 0px !important;
        text-align: center !important;
        border: none !important;
        text-decoration: none;
    }
   
    .gallery-image{
        text-decoration: none;
        font-size: 15px;
        font-weight: 500;
    }
    .gallery-image:hover{
        text-decoration: none;
    }
    a,a:hover{
        text-decoration: none !important;
    }

    /* added css on 2-4-19 */
    .industrial_visit img{
        height: 200px;
        width: 100%;
    }