:root { 
--deep_orange_A100:#ea9b7a; 
--blue_50_33:#e5f1fb33; 
--light_blue_700:#0071dc; 
--gray_800_02:#472658; 
--red_400:#d46a43; 
--gray_800_01:#4d2c5e; 
--white_A700_99:#ffffff99; 
--yellow_800:#ebb12b; 
--teal_700:#217c58; 
--light_blue_A700:#0875f7; 
--blue_gray_900_01:#353535; 
--yellow_900_19:#ff742619; 
--blue_gray_900:#243434; 
--gray_600:#858585; 
--gray_400:#c2c2c2; 
--blue_gray_100:#ced3e6; 
--orange_A200:#faaf3a; 
--gray_800:#39393b; 
--black_900_0c:#0000000c; 
--blue_50:#e5f1fb; 
--cyan_200:#88cfe5; 
--gray_400_01:#b6b6b6; 
--black_900_19:#00000019; 
--blue_gray_400_01:#8e8e8e; 
--gray_700_02:#5f5f5f; 
--white_A700:#ffffff; 
--gray_700_01:#564c54; 
--blue_gray_100_01:#d2dcec; 
--red_900:#b11722; 
--red_300:#d96c63; 
--red_400_02:#dd615c; 
--red_400_01:#df615c; 
--gray_50:#f9f9f9; 
--teal_400:#21b573; 
--white_A700_33:#ffffff33; 
--black_900:#000000; 
--yellow_900:#c77e2e; 
--pink_800:#a92f4b; 
--deep_purple_A700:#6517d7; 
--gray_900_02:#00052e; 
--gray_700:#585859; 
--gray_500:#acacac; 
--blue_gray_400:#8a8a8a; 
--blue_800:#084fc7; 
--gray_900:#1c1c1c; 
--gray_900_01:#040c26; 
--red_300_01:#b17373; 
--yellow_900_01:#ff7426; 
--cyan_100:#b8e8f2; 
}